#drag {
    width: 100%;
    height: 100vh;
}

.two {
    background: #dee;
}
.one, .two {
    height: 100vh;
    display: block;
    position: relative;
}

.bg {
    margin: 10px 0px;
    background: #f6f6f6;
    padding: 10px;
    transition: .s2;
}
.bg:hover {
    cursor: pointer;
}
.two .bg {
    text-align: center;
    border: 1px solid #999;
}

#drag .bg {
    background: none;
}

#drag .bg:hover {
    background: #f6f6f6
}
.remove {
    padding: 20px;
    text-align: center;
    background: #fff4f4;
}